$light-color:#fff;
$dark-color: #696980;
$accent-color:#65e496;
$bg-light-color:#f5f6fa;
$bg-dark-color: #44444f;
$gray-color:#9191b5; 
$font-primary: 'Roboto Slab', sans-serif;
$font-secondary: 'Open Sans', serif;
$font-size-primary: 15px;
$font-size-secondary: 18px;

$breakpoint: (
    'sm': 480px,
    'md': 630px,
    'lg': 850px,
    'xl': 1020px,

);