.block-counter {
    display: flex;
    justify-content: space-between;
    margin-top: 152px;
    @include respond(lg) {
        flex-direction: column;
        margin-top: 80px;
        gap: 80px;
    }
    @include respond(sm) {
        margin: 45px;
        gap: 35px;
    }
    p {
        font-family: 'Open Sans', serif;
        text-align: center;
        font-size: $font-size-secondary;
        span {
            display: block;
            margin-bottom: 45px;
            font-family: 'Roboto Slab', serif;
            font-weight: 100;
            font-size: 80px;
            color: $accent-color;
            @include respond(sm) {
                margin-bottom: 29px;
                font-size: 60px;
                line-height: 1.1;
            }
        }
    }
}