.scroll-top-btn {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    background-color: $accent-color;
    color: $light-color;
    border: none;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
    transition: opacity 0.3s ease;
    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
}

